html {
  background-color: darkseagreen;
  color: white;
}
h1 {
  text-align: center;
}
.codeblock {
  font-family: "Courier New", Courier, monospace;
  background-color: #F1F1F1;
  color: black;
  padding: 10px;
  margin-bottom: 40px;
  line-height: 130%;
}
.tag {
  background-color:crimson;
  color: white;
}
.if {
  background-color:darkblue;
  color: white;
}
small {
  margin-bottom: 20px;
  display: block;
}
.error {
  position: relative;
  top: 50px;
  color: red;
}

.codeblock button {background-color: black; color:white; border-style:solid; border-color:black; cursor: pointer; margin-top:10px; font-family: "Courier New", Courier, monospace; font-size:80%; display: block; position:absolute; right:0px;}