body {
  max-width: 90%;
  width: 600px;
  font-size: 20px;
  margin: auto;
  font-family: "futura-pt";
}
nav {
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px;
  color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  line-height: 50px;
}

nav {
  position: fixed;
}
nav ul {
  padding: 0px;
  width: 600px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}
nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  line-height: 100%;
  vertical-align: middle
}
nav li.github {
  color:transparent;
  position: relative;
  top: 3px;
}
nav a.home {
  color: darkseagreen;
}
#main {
  position: relative;
  top: 70px;
}

@media (max-width:600px){
  
  #main {top:90px;}
  
}

h1,
h2,
{
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h3 {
  text-decoration: underline;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
